:root{
    --black : #000;
    --white : #fff;
}

.todo{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.todo > .title{
    text-transform: capitalize;
    font-size: 25px;
    margin-bottom: 20px;
    
}
.todo >.title >span{
    color: tomato;
}

button:disabled{
    background-color: gray;
    color: #fff;
    cursor:not-allowed;
}

button:disabled:hover{
    background-color: gray;
}

